@import url('https://fonts.googleapis.com/css?family=Exo+2');

@-ms-viewport {
  width: device-width;
}

body {
  background-color: #2C2F33;
  margin: 0;
}

.content {
  max-width: 80vw;
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  color: #FFF;
  text-align: center;
  margin: 1em auto;
}

@media only screen and (min-width: 1000px) {
  .content {
    max-width: 800px;
    font-size: 20px;
  }
}

img {
  max-width: 100%;
}

p {
  text-align: justify;
  text-align-last: center;
}

a {
  background: #F71334;
  background: -webkit-linear-gradient(left, #E83693, #F71334);
  background:    -moz-linear-gradient(left, #E83693, #F71334);
  background:      -o-linear-gradient(left, #E83693, #F71334);
  background:         linear-gradient(to right, #E83693, #F71334);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: transparent;
}

.bar {
  border: 1px solid #FFF;
}

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}
