@import url('https://fonts.googleapis.com/css?family=Exo+2:300,300i,500,500i');

@-ms-viewport {
  width: device-width;
}

body {
  background-color: #2C2F33;
  margin: 0;
}

.content {
  max-width: 65%;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #FFF;
  text-align: center;
  margin: 1em auto;
}

img {
  max-width: 100%;
}

p {
  text-align: justify;
  text-align-last: center;
}

a {
  background: #F71334;
  background: -webkit-linear-gradient(left, #E83693, #F71334);
  background:    -moz-linear-gradient(left, #E83693, #F71334);
  background:      -o-linear-gradient(left, #E83693, #F71334);
  background:         linear-gradient(to right, #E83693, #F71334);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: transparent;
}

.section {
  border-top: 2px solid #FFF;
  padding-bottom: 1em;
}

.section:last-child {
  padding-bottom: 0;
}

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}

#releases > div:after {
  content: '';
  clear: both;
  display: block;
}

#staff .members {
  display: grid;
  grid-template-columns: auto auto;
}

#staff .members > div:nth-child(odd) {
  text-align: right;
  padding-right: calc(1em + 2px);
  border-right: 2px solid #FFF;
}

#staff .members > div:nth-child(even) {
  text-align: left;
  padding-left: 1em;
}

#staff .members img {
  height: 1em;
  margin-left: 1em;
}

.profile-panel {
  display:inline-block;
  border-radius: 10px;
  background: #FFFFFF;
  padding: 0px;
  margin: 1rem;
  width: 270px;
  height: 400px;
  filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.3));
}

.profile-top {
  border-radius: 10px 10px 0px 0px;
  height: 57.5%;
  width: 100%;
  background: rgb(233, 30, 99);
  background-image: url("imgs/profile-circles-15.png");
  background-size: 120% auto;
  background-position: 50% 68.5%;
}

.profile-content {
  height: 35%;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 0px;
  font-size: 16px;
  background: white;
  /* Slight shadow from the middle part of profile panel: filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.3));*/
}

.profile-bottom {
  border-radius: 0px 0px 10px 10px;
  height: 7.5%;
  width: 100%;
  font-size: 16px;
  background: white;
}

.profile-text {
  color: #666;
  padding-top: 13px;
  padding-left: 3px;
  padding-right: 3px;
  display: block;
}

.profile-username {
  display: block;
  font-size: 24px;
  margin-top: 0.4em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: white;
  filter: drop-shadow(.1rem .3rem 0.05rem rgba(0, 0, 0, 0.3));
}

.profile-img {
  margin-top: 9%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  filter: drop-shadow(.1rem .3rem 0.05rem rgba(0, 0, 0, 0.3));
}

.profile-social{
  padding-top:3px;
  max-height: 80%
}

.profile-flag {
  max-height: 0.75em;
  position:relative;
  margin-right:10px;/* can be usefull*/
  z-index: -1;
}

.profile-role {
  border-radius: 5px;
  padding: 5px;
  font-size: 0.9rem;
  color:white;
  filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.1));
}

.lead {
  background-color: rgb(231, 76, 60);
}

.artist {
  background-color: rgb(155, 89, 182);
}

.writer {
  background-color: rgb(46, 204, 113);
}

.designer {
  background-color: rgb(233, 30, 99);
}

.editor {
  background-color: rgb(241, 196, 15);
}

.developer {
  background-color: rgb(52, 152, 219);
}

.entertainment {
  background-color: rgb(230, 126, 34);
}

.scorewatch {
  background-color: rgb(153, 45, 34);
}

.events {
  background-color: rgb(26, 188, 156);
}

.btn {
  display:inline-block;
  height: 2.3rem;
  width: 16rem;
  font-size: 1rem;
  border-radius: 7px;
  margin: 10px;
  transition: color 0.2s;
  padding-top: 1rem;
  background-image: url("imgs/btnOverlay.png");
  background-blend-mode: multiply;
  background-size: cover;
}

.btn:hover {
  color: white;
}

.btn-blue {
  background-color: rgb(0, 170, 255);
  filter: drop-shadow(0 0.2rem 0.1rem rgb(0,85,128));
}

.btn-blue:hover {
  background-color: rgb(64, 190, 255);
}

.btn-green {
  background-color: rgb(90, 200, 0);
  filter: drop-shadow(0 0.2rem 0.1rem rgb(45, 100, 0));
}

.btn-green:hover {
  background-color: rgb(128, 200, 64);
}

.btn-pink {
  background-color: rgb(230, 0, 140);
  filter: drop-shadow(0 0.2rem 0.1rem rgb(115,0,70));
}

.btn-pink:hover {
  background-color: rgb(245, 64, 180);
}

.triangle-box {
  display: block;
  text-align: center;
  margin: auto;
  font-size: 1.4em;
  border-radius: 10px;
  padding: 12px;
  max-width:500px;
  background-color: white;
  background-image: url("imgs/button.svg");
  background-blend-mode: multiply;
  background-size:cover;
  color: #666
}